@use "../abstracts/variables" as *;

.footer {

	&__top {
		text-align: center;
		padding: clamp(30px, 4vw, 40px) 0;;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: clamp(20px, 3vw, 30px);
	}

	&__logo {
		margin-bottom: 18px;
		img {
			max-width: 100%;
		}
	}

	&__copy {
		font-size: toRem(14);
		letter-spacing: -0.03em;
		color: #929292;
	}

	&__bottom {
		padding-bottom: clamp(30px, 5vw, 50px);
		border-bottom: 1px solid #e5e5e5;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		gap: clamp(30px, 5vw, 100px);
	}
}

.footer__item {
  flex: 1; 
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__li {
  margin-bottom: clamp(12px, 2vw, 16px);
}

.footer__li:last-child {
  margin-bottom: 0;
}

.footer__link {
  text-decoration: none;
  font-size: clamp(16px, 1.5vw, 18px);
  color: #2f2f30;
  transition: color 0.2s;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.footer__link:hover {
  color: #F0572D; 
}

.footer__link_tel,
.footer__link_email {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__link_tel::before,
.footer__link_email::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
}

.footer__link_tel::before {
  background-image: url('@/img/icons/tel.svg'); 
}

.footer__link_email::before {
  background-image: url('@/img/icons/email.svg');
}

@media (max-width: 768px) {
  .footer__row {
    flex-direction: column; 
    align-items: center; 
    text-align: center;  
    gap: 30px;  
  }

  .footer__copy {
    max-width: 250px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #929292;
  }

  .footer__item {
    width: 100%;
  }

  .footer__item:nth-child(3) {
    order: 1;
  }

  .footer__item:nth-child(1) {
    order: 2;
  }

  .footer__item:nth-child(2) {
    order: 3;
  }

  .footer__link_tel,
  .footer__link_email {
    justify-content: center;
  }
}
