@font-face {
  font-family: SF;
  font-display: swap;
  src: url("@/fonts/SF-Pro-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SF;
  font-display: swap;
  src:url("@/fonts/SF-Pro-RegularItalic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: SF;
  font-display: swap;
  src: url("@/fonts/SF-Pro-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SF;
  font-display: swap;
  src: url("@/fonts/SF-Pro-Semibold.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
